# Kubernetes secrets
infra/**/secrets

# Self signed certificate for dev
cert/

# Terraform files
infra/terraform/**/.terraform

infra/terraform/**/.terraform.*
infra/terraform/**/terraform.*
infra/terraform/**/secrets.tf

# Starting scripts
start-dev.sh

# TODO
TODO

go.work
go.work.sum