# Kubernetes secrets
infra/**/secrets

# Self signed certificate for dev
cert/

# Terraform files
infra/terraform/**/.terraform

infra/terraform/**/.terraform.*
infra/terraform/**/terraform.*
infra/terraform/**/secrets.tf

# TURN config
infra/turnserver.conf

# Starting scripts
start-dev.sh
start-prod.sh

go.work
go.work.sum

# TODO
TODO