#localModal {
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: 0px;
  right: 15px;
  background-color: royalblue;
}

#toolbar {
  position: fixed;
  height: 10vh;
  width: 40%;
  bottom: 10px;
  right: 30%;
  transition: 0.4s;
}
#toolbar:hover {
  background-color: rgb(59, 59, 59);
}

.buttonWrapper {
  padding-top: 1px;
  justify-self: space-between;
}

.peer {
  width: 400px;
  height: 300px;
  position: relative;
}
#toolbar {
  z-index: 100;
}

.peer-video {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.peer-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s;
  margin-bottom: 1%;
  color: whitesmoke;
  text-align: center;
}

.peer-footer:hover {
  background-color: navy;
}